<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<includeMdcKeyName>userId</includeMdcKeyName>
			<includeMdcKeyName>traceId</includeMdcKeyName>
			<customFields>{"application":"${spring.application.name:-spring-boot-starter-kit}"}
			</customFields>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/application.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/application.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<includeMdcKeyName>userId</includeMdcKeyName>
			<includeMdcKeyName>traceId</includeMdcKeyName>
			<customFields>{"application":"${spring.application.name:-spring-boot-starter-kit}"}
			</customFields>
		</encoder>
	</appender>

	<!-- Configure root logger -->
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<!-- <appender-ref ref="FILE"/> -->
	</root>

	<!-- Application-specific loggers -->
	<logger name="com.funa" level="DEBUG"/>
</configuration>